.app{
    background-image:url(https://wallpaper.dog/large/5565463.jpg) ;
    position:static;
    min-height: 100%;
    min-width: 100%;
    background-size: cover;
    background-position: center;
}