.logo-project{
    color: white;
}

.logo-project:hover{
    color: white;
    font-size: 25px;
}

.search-box-row{
    margin-left: 4.5rem;
}

.title-nxt-div{
    margin-left: 100px;
    margin-top: 7px;
}

.title-nxt-div-2{
    margin-left: 20px;
}

