.logo-project{
    color: white;
}

.nav-bar{
    border: 1px solid rgba(255, 255, 255, 0.377);
}

.logo-project:hover{
    color: white;
    font-size: 25px;
}

.search-box-row{
    margin-left: 4.5rem;
}

.title-nxt-div{
    margin-left: 100px;
    margin-top: 7px;
}

.title-nxt-div-2{
    margin-left: 20px;
}

.font-weight{
    font-weight: 500;
}

.logout-btn{
    border: 1px solid rgba(255, 255, 255, 0.459);
}
